.Landing-page {
    text-align: left;

    .divider {
        height: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 25px;

        .custom-border {
            width: 64px;
            height: 2px;
            border: 1px solid #767676;
        }
    }

    .blog-section {
        margin-bottom: 100px;
    }

    .cover-image-container {
        margin: 0 auto;
        position: relative;
        max-width: 1600px;

        .cover-image-wrapper {
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            max-width: 1600px;
            min-height: 220px;
            height: 600px;
            margin: 0 auto;

            .cover-image {
                width: 100%;
                height: 100%;
                background-position: 0 0;
                background-size: cover;
                background-image: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
                    url("https://images.pexels.com/photos/3740400/pexels-photo-3740400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            }

            .get-started-modal-wrapper {
                position: absolute;
                top: 0;
                width: 100%;

                .get-started-modal {
                    background-color: #ffffff;
                    float: right;
                    max-width: 460px;
                    border-radius: 4px;
                    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
                    margin: 78px 92px 0 0;
                    text-align: left;

                    .device-space {
                        margin: 32px;

                        h1 {
                            line-height: 40px;
                            margin-bottom: 15px;
                        }
                    }

                    form {
                        p {
                            font-weight: 600;
                        }
                    }

                    .dropdown-wrapper {
                        display: flex;

                        .entire-place-dropdown {
                            flex: 3;
                            padding-right: 5px;
                        }

                        .guests-dropdown {
                            flex: 2;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }

    .marketing-wrapper {
        margin: 0 20px;

        .wrapper {
            padding: 0 85px;

            .marketing {
                text-align: left;
                margin-right: 64px;

                p {
                    margin-bottom: 16px;
                    margin-top: 24px;
                }

                span {
                    margin-top: 16px;
                    color: #008489;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .hosting-steps,
    .payment-steps {
        .hosting-steps-wrapper,
        .payment-steps-wrapper {
            max-width: 1080px;
            width: auto;
            padding: 0 24px;

            .hosting-steps,
            .payment-steps {
                margin-bottom: 64px;
                display: flex;

                .step {
                    text-align: left;
                    padding: 0 8px;

                    .step-margin {
                        margin-right: 42px;

                        &:last-child {
                            margin-right: 0;
                            margin-left: 42px;
                        }

                        img {
                            height: 48px;
                            width: 48px;
                        }

                        h3 {
                            margin: 20px 0;
                            word-wrap: break-word;
                            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                            font-size: 24px;
                            font-weight: 800;
                            line-height: 1.25em;
                            color: #484848;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            text-align: left;
                        }

                        .link {
                            margin: 20px 0;
                            color: #008489;
                        }
                    }
                }
            }
        }
    }

    .height-divider {
        width: 100%;
        height: 96px;
    }

    .blog-section {
        .blog-section-wrapper {
            width: 1080px;
            padding: 0 24px;
            margin: 0 auto;
            margin-bottom: 48px;
            display: flex;
            justify-content: center;
            text-align: left;

            .quote-wrapper {
                margin-right: 70px;

                .quote {
                    height: 40px;
                    width: 40px;
                    margin-bottom: 15px;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .quote-text {
                    margin-bottom: 16px;
                    font-size: 32px;
                    line-height: 40px;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                }

                .quote-smallText {
                    margin: 0;
                    margin-bottom: 24px;
                    word-wrap: break-word;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.375em;
                    color: #767676;
                }

                .blog-link {
                    cursor: pointer;
                    display: inline-block;
                    margin: 0;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    width: max-content;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: normal;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                    color: #484848;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-weight: 800;
                    border-radius: 4px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: #484848;
                    background: transparent;
                    box-shadow: none;
                    padding-left: 27px;
                    padding-right: 27px;
                    min-width: 72px;
                }
            }

            .quote-right {
                margin-right: 0;
                margin-left: 70px;
            }

            .middle-divider {
                width: 8%;
                padding: 0 8px;
            }

            .person-wrapper {
                .person {
                    width: 516px;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .covered-body {
        width: 1080px;
        margin: 0 auto;
        margin-bottom: 64px;

        .covered-wrapper {
            display: flex;

            .covered-text {
                flex: 1;

                span {
                    margin-top: 16px;
                    color: #008489;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .middle-divider {
                width: 8%;
                padding: 0 8px;
            }

            .covered-points {
                flex: 1;

                .points {
                    display: flex;
                    margin-bottom: 16px;

                    img {
                        height: 20px;
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    .person-image {
        width: 1080px;
        margin: 0 auto;
        margin-bottom: 64px;

        .image-wrapper {
            height: 580px;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .hosts-data-section {
        .hosts-data-body {
            width: 1080px;
            margin: 0 auto;
            margin-bottom: 64px;
            display: flex;
            justify-content: space-around;

            .hosts-data {
                margin-bottom: 24px;
                text-align: center;

                .data {
                    font-size: 60px;
                    line-height: 64px;
                    color: #484848;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                }

                .text {
                    margin-top: 8px;
                }
            }
        }
    }

    .frequently-asked-questions {
        width: 1080px;
        margin: 0 auto;

        .frequently-asked-questions-wrapper {
            display: flex;

            .question-wrapper {
                flex: 1;
                margin-right: 30px;

                .question {
                    border-bottom: 1px solid #ebebeb;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    color: #008489;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .about-hosting {
        width: 1080px;
        margin: 0 auto;

        &-heading {
            margin: 0;
            word-wrap: break-word;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
            font-size: 24px;
            font-weight: 800;
            line-height: 1.25em;
            color: #484848;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .about-hosting-wrapper {
            display: flex;
            justify-content: space-between;

            .hosting {
                img {
                    width: 333px;
                    height: 170px;
                    margin-bottom: 16px;
                    object-fit: cover;
                }

                .title {
                    line-height: 22px;
                    max-height: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 16px;
                    font-weight: 800;
                    margin-bottom: 5px;
                    color: #484848;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                }

                .description {
                    line-height: 1.375em;
                    color: #484848;
                    font-weight: 300;
                    font-size: 14px;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                    margin-bottom: 2px;
                }

                span {
                    color: #008489;
                    font-weight: 300;
                    line-height: 1.375em;
                    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                    font-size: 14px;
                }
            }
        }
    }

    .ready-to-earn {
        .image-wrapper {
            height: 440px;
            max-width: 1280px;
            background-size: cover;
            background-position: center;
            margin: auto;
            position: relative;

            .image-view {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                background-image: url(https://images.pexels.com/photos/4123714/pexels-photo-4123714.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
            }

            .image-text-wrapper {
                position: absolute;
                top: 0;
                width: 1080px;

                .image-text {
                    position: relative;
                    padding-left: 140px;
                    width: 100%;

                    h2 {
                        padding-top: 96px;
                        font-size: 60px;
                        line-height: 64px;
                        letter-spacing: -2.5px;
                        max-width: 430px;
                        color: #ffffff;
                        padding-bottom: 8px;
                        font-weight: 700;
                        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
                    }

                    button {
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.heading {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;

    h2 {
        font-weight: 900;
        color: #333333;
        font-size: 60px;
        line-height: 64px;
        letter-spacing: -2.5px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 1024px) {
    .Landing-page {
        .cover-image-container {
            min-height: 280px;

            .cover-image-wrapper {
                height: auto !important;

                .cover-image {
                    min-height: 280px;
                }

                .get-started-modal-wrapper {
                    position: unset !important;

                    .get-started-modal {
                        max-width: 100% !important;
                        float: unset;

                        margin: 0 auto;
                        box-shadow: none;
                        padding: 0 70px;
                    }
                }
            }
        }

        .heading {
            max-width: 696px !important;
            margin: 0 auto;
        }

        .marketing-wrapper {
            .wrapper {
                flex-direction: column;
                max-width: 696px !important;

                .marketing {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
        }

        .hosting-steps {
            .hosting-steps-wrapper {
                .hosting-steps {
                    padding: 0 85px;
                    max-width: 696px !important;
                    flex-direction: column;
                    margin: 0 64px;

                    .step {
                        margin-bottom: 30px;

                        .step-margin {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }

        .blog-section {
            .blog-section-wrapper {
                max-width: 696px !important;

                .quote-wrapper {
                    margin-right: 0;

                    .quote-text {
                        font-size: 18px;
                        line-height: normal;
                    }
                }

                .person-wrapper {
                    .person {
                        width: 315px;
                        height: 315px;
                    }
                }
            }
        }

        .covered-body {
            width: 100% !important;

            .covered-wrapper {
                flex-direction: column;
                max-width: 696px !important;
                margin: 0 auto;

                .covered-text {
                    margin-top: 0 !important;
                    margin-bottom: 20px;
                }
            }
        }

        .person-image {
            width: 100% !important;
            margin: 0 auto;

            .image-wrapper {
                max-width: 696px !important;
                margin: 0 auto;
                height: 411px;
            }
        }

        .payment-steps {
            .payment-steps-wrapper {
                .payment-steps {
                    flex-direction: column;
                    max-width: 696px !important;
                    margin: 0 auto;
                }
            }
        }

        .hosts-data-section {
            .hosts-data-body {
                max-width: 696px !important;

                .hosts-data {
                    .data {
                        font-size: 40px;
                    }
                }
            }
        }

        .frequently-asked-questions {
            max-width: 696px !important;
            margin: 0 auto;

            .frequently-asked-questions-wrapper {
                flex-direction: column;
            }
        }

        .about-hosting {
            max-width: 696px !important;
            margin: 0 auto;

            .about-hosting-wrapper {
                .hosting {
                    width: 33.33%;
                    padding-right: 15px;

                    img {
                        max-width: 100%;
                        height: 104px;
                        object-fit: cover;
                    }
                }
            }
        }

        .ready-to-earn {
            .image-wrapper {
                .image-text-wrapper {
                    width: 100%;

                    .image-text {
                        margin-left: 0;
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Landing-page {
        .cover-image-container {
            min-height: 280px;

            .cover-image-wrapper {
                height: auto !important;

                .cover-image {
                    min-height: 280px;
                }

                .get-started-modal-wrapper {
                    position: unset !important;

                    .get-started-modal {
                        max-width: 100% !important;
                        float: unset;
                        margin: 0 auto;
                        box-shadow: none;
                        padding: 0 16px !important;
                    }
                }
            }
        }

        .heading {
            max-width: unset !important;
            width: 100%;
            margin: 0 auto;

            h2 {
                font-size: 40px;
            }
        }

        .marketing-wrapper {
            .wrapper {
                flex-direction: column;
                max-width: unset !important;
                padding: 0 16px;

                .marketing {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
            }
        }

        .hosting-steps {
            max-width: 100%;

            .hosting-steps-wrapper {
                padding: 0;

                .hosting-steps {
                    padding: 0;
                    max-width: unset !important;
                    margin: 0;

                    .step {
                        margin-bottom: 30px;

                        .step-margin {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }

        .height-divider {
            display: none;
        }

        .blog-section {
            .blog-section-wrapper {
                max-width: unset !important;
                width: 100%;
                flex-direction: column-reverse;

                .quote-wrapper {
                    margin-right: 0;
                    margin-bottom: 20px;

                    .quote-text {
                        font-size: 18px;
                        line-height: normal;
                    }
                }

                .person-wrapper {
                    .person {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .covered-body {
            width: 100% !important;

            .covered-wrapper {
                flex-direction: column;
                max-width: unset !important;
                margin: 0 auto;
                padding: 0 16px;

                .covered-text {
                    margin-top: 0 !important;
                    margin-bottom: 20px;
                }
            }
        }

        .person-image {
            width: 100% !important;
            margin: 0 auto;

            .image-wrapper {
                max-width: unset !important;
                margin: 0 auto;
                height: 100%;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .payment-steps {
            .payment-steps-wrapper {
                .payment-steps {
                    flex-direction: column;
                    max-width: unset !important;
                    margin: 0 auto;
                }
            }
        }

        .hosts-data-section {
            .hosts-data-body {
                max-width: unset !important;
                flex-direction: column;
                width: 100%;

                .hosts-data {
                    .data {
                        font-size: 40px;
                    }
                }
            }
        }

        .frequently-asked-questions {
            max-width: unset !important;
            margin: 0 auto;
            padding: 0 16px;
            width: 100%;

            .frequently-asked-questions-wrapper {
                flex-direction: column;
            }
        }

        .about-hosting {
            max-width: unset !important;
            margin: 0 auto;
            width: 100%;

            .about-hosting-heading {
                margin-left: 20px;
            }

            .about-hosting-wrapper {
                flex-direction: column;
                display: flex;
                margin-left: 20px;
                margin-right: 20px;

                .hosting {
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 15px;
                    display: flex;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);

                    img {
                        max-width: 100%;
                        width: 76px;
                        height: 76px;
                        object-fit: cover;
                    }

                    .about-img {
                        margin-left: 10px;
                    }
                }
            }
        }

        .ready-to-earn {
            .image-wrapper {
                .image-text-wrapper {
                    width: 100%;

                    .image-text {
                        margin-left: 0;
                        padding-left: 50px;
                    }
                }
            }
        }
    }
}

// @media screen and (max-width: 480px) {
//   .Landing-page {

//   }
// }
